{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% block site_title %}{{ app.user.carName }}{% endblock %}

{% block content %}
    <h4>Statistiques moyennes</h4>
    <table class='table table-bordered table-hover'>
        <tbody>
            <tr>
                <th>Consommation moyenne</th>
                <td>{{ averageConsommation|number_format(2, '.', ',') }} L / 100kms</td>
            </tr>
            <tr>
                <th>Prix moyen du carburant</th>
                <td>{{ averageLiterPrice|number_format(3, '.', ',') }} €</td>
            </tr>
            <tr>
                <th>Coût moyen (total)</th>
                <td>{{ averageCost|number_format(2, '.', ',') }} € / km</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
