{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% block title %}Who is Alfred ?{% endblock %}

{% block site_title %}Who is Alfred ?{% endblock %}

{% block content %}
    <p class='lead'>Alfred est un majordome.</p>
    <p class='text-justify'>
        Vous lui dites ce que vous payez pour (ou avec) votre voiture, et il calcule vos comptes et budgets automatiquement.
        <br />
        Alfred cotoie en général des inconnus, il n'a <strong>pas envie - ni besoin - de savoir qui vous êtes, ni la plaque d'immatriculation de votre voiture</strong> ou quelque donnée confidentielle que ce soit.
        <br />
        Même s'il ne va jamais revendre ou donner vos données à qui que ce soit, ne prenez cette sale habitude d'en dire trop sur vous sur Internet !
    </p>
{% endblock %}
