{% extends 'FsbAlfredDashboardBundle::sidebar.html.twig' %}

{% form_theme form 'FsbAlfredDashboardBundle:Form:bootstrap.html.twig' %}

{% block site_title %}{{ app.user.carName }}{% endblock %}

{% block content %}
    <form action='{{ path('fsb_alfred_dashboard_page_edit_password') }}' method='post' {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class='form-group'>
            <input type='submit' class='btn btn-success' name='submit' value='Editer' />
        </div>
    </form>
{% endblock %}
