$sidebar-width: 280px;
$navbar-top-offset: 51px;

$color: rgb(34, 49, 63);
$links-color: rgb(255, 255, 255);
$background: rgb(51, 110, 123);
$sidebar-background: rgb(34, 49, 63);
$navbar-background: rgb(34, 49, 63);
$navbar-border: rgb(255, 255, 255);

@keyframes turns {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(-40deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        padding-top: $navbar-top-offset;
        a {
            color: $links-color;
        }
        #site-top-navbar {
            background: $navbar-background;
            border-color: $navbar-border;
            #logo {
                margin: 8px 0 7px 20px;
                animation: turns 4s ease-in 0 infinite;
            }
        }
        #main-container {
            width: 100%;
            height: 100%;
            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                width: $sidebar-width;
                height: 100%;
                box-sizing: border-box;
                padding-top: $navbar-top-offset;
                background: $sidebar-background;
                .top-bordered {
                    border-top: 1px solid $links-color;
                }
                .bottom-bordered {
                    border-bottom: 1px solid $links-color;
                }
            }
            #site-content-wrapper {
                position: relative;
                width: 100%;
                min-height: 100%;
                padding: 20px 30px;
                z-index: 999;
                transform: translate3d(0, 0, 0);
                transition: transform 0.33s ease-in;
                color: $color;
                background: $background;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
                &.open {
                    transform: translate3d($sidebar-width, 0, 0);
                }
                .tab-content {
                    margin: 20px 0 0 0;
                }
                table {
                    tbody {
                        .infos-line {
                            td {
                                padding: 0;
                                border-top: 0;
                                border-bottom: 0;
                                div {
                                    height: 0;
                                    padding: 0;
                                    opacity: 0;
                                    overflow: hidden;
                                    transition: all 0.33s linear;
                                }
                            }
                            &.open {
                                td {
                                    div {
                                        height: 30px;
                                        padding: 5px;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    &.table-static {
                        table-layout: fixed;
                    }
                }
                .nav-tabs {
                    > li {
                        margin: 0 5px 0 0;
                        > a {
                            border-radius: 0;
                            padding: 5px 15px;
                        }
                    }
                }
                .chart {
                    cursor: pointer;
                }
            }
        }
    }
}

$fa-css-prefix: "icon";
@import "../bower_components/font-awesome/scss/font-awesome";
