{% extends 'FsbAlfredDashboardBundle::base.html.twig' %}

{% block content %}
    {% if error %}
        <div class='alert alert-danger'>
            <p><strong>Erreur !</strong> <span>{{ error.message|trans }}</span></p>
        </div>
    {% endif %}
    <form action='{{ path('fsb_alfred_dashboard_page_login_check') }}' method='post'>
        <div class='form-group'>
            <label for='username' class='control-label'>Utilisateur</label>
            <input type='text' class='form-control' id='username' name='_username' value='{{ last_username }}' />
        </div>
        <div class='form-group'>
            <label for='password' class='control-label'>Mot de passe</label>
            <input type='password' class='form-control' id='password' name='_password' />
        </div>
        <div class='checkbox'>
            <input type='checkbox' id='remember_me' name='_remember_me' checked />
            <label for='remember_me'>Garder la session active</label>
        </div>
        <div class='form-group'>
            <input type='submit' class='btn btn-success' name='submit' value='Connexion' />
            <a href='{{ path('fsb_alfred_dashboard_page_subscription') }}' class='btn btn-info'>Inscription</a>
        </div>
    </form>
{% endblock %}
