{% extends 'FsbAlfredDashboardBundle::base.html.twig' %}

{% form_theme form 'FsbAlfredDashboardBundle:Form:bootstrap.html.twig' %}

{% block content %}
    <form action='{{ path('fsb_alfred_dashboard_page_lost_password') }}' method='post' {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class='form-group'>
            <input type='submit' class='btn btn-success' name='submit' value='Envoyer' />
            <a href='{{ path('fsb_alfred_dashboard_page_login') }}' class='btn btn-info'>Connexion</a>
        </div>
    </form>
{% endblock %}
