{% extends 'FsbAlfredDashboardBundle::mail.html.twig' %}

{% block content %}
    <h4>Vous avez oublié votre mot de passe ?</h4>
    <p>Rien de grave, vous allez pouvoir le renseigner de nouveau en cliquant sur le lien suivant :</p>
    <a href='{{ url('fsb_alfred_dashboard_page_reset_password', { 'username': username, 'token': token }) }}'>Réinitialiser le mot de passe</a>
{% endblock %}
